.min-h-screen{
    min-height: 100vh;
}
.bg-red{
    background-color: red;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.bold{
    font-weight: bolder;
}

.flexcol{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.my-1{
    margin-top: 13px;
    margin-bottom: 13px;
}
.my-2{
    margin-top: 26px;
    margin-bottom: 26px;
}
.px-2{
    padding-left: 13px;
    padding-right: 13px;
}
.text-blue{
    color: grey;
}
.btn{
    padding: 10px 15px;
    border: 2px solid black;
    cursor: pointer;
    color: white;
    background-color: black;
    border-radius: 20px;
    font-size: 25px;
}
.btn:hover{
    border: 2px solid black;
    color: black;
    background-color: white;
}
.overflow-x-hidden{
    overflow-x: hidden;
}
.text-center{
    text-align: center;
}
.highlight{
    font-weight: bolder;
}